* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Bungee", "Noto Sans", sans-serif;
  background: #F8FCDA;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #191923;
  padding: 0.5em;
}

#content {
  display: flex;
  flex: 1;
}

#sidebar {
    padding: 15px;
    width: 260px;
    background-color: #16697a;
    color: black;
    box-shadow: 0px 0px 15px 5px black;
}

#sidebar>h2 {
    font-size: 2em;
    justify-self: center;
}

.nav-item {
    display: flex;
    font-size: 1.1em;
}

.nav-item:hover {
    background-color: #145e6d;
}

.nav-item:active {
    background-color: #1ea4be;
}

/* Modal css */
.modal-overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: fadeIn 0.2s ease-out;
}

#taskForm {
  background-color: #ffffff;
  color: black;
  padding: 1.5rem;
  border-radius: 10px;
  width: 32rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  animation: scaleIn 0.2s ease-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  margin-bottom: 1rem;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.modal-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: #444;
  transition: 0.15s;
}

.modal-close:hover {
  color: #d33;
  transform: scale(1.1);
}

.modal-content label {
  color: black;
  margin-bottom: 0.25rem;
  font-weight: 500;
  display: block;
}

.modalBtns {
  display: flex;
  flex-direction: column;
}

.modal-content input, 
.modal-content textarea,
.modal-content select {
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    transition: border 0.15s;
}

.modal-content input:focus,
.modal-content textarea:focus,
.modal-content select:focus {
  border-color: #4A90E2;
  outline: none;
}

/* ICON BUTTONS */
.icon-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon-btn {
  font-size: 1.25rem;
  padding: 0.4rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.15s;
  border: 1px solid transparent;
}

.icon-btn:hover {
  background: #f3f3f3;
}

/* Priority Coloring */
.icon-btn.low::selection {
  border-color: #91c46b;
  color: #91c46b;
}

.medium.icon-btn::selection {
  border-color: #f2b653;
  color: #f2b653;
}

.icon-btn.high::selection {
  border-color: #d9534f;
  color: #d9534f;
}

.submit-div {
  display: flex;
  justify-content: flex-end;
}

.modal-submit {
  background: #145e6d;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.15s;
}

.modal-submit:hover {
  background: #16697a;
}

.ddSpan {
  padding-right: 10px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

/* nav item styling */
.nav-item {
  --text: #000000;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.nav-item  label {
  color: var(--text);
  position: relative;
  cursor: pointer;
}

/* Main section */
#main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: black;
  width: 85%;
  align-items: center;
}

#main > h2 {
  padding-bottom: 15px;
}

#todoList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 85%;
  background-color: #182646;
  padding: 10px;
  color: white;
  border: 5px solid#0c1322;
}

#todoItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

#todoItem p {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}
